/***** font-family: 'Outfit', sans-serif; *****/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    caret-color: transparent;
    font-size: 15px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    width: 100vw;
    font-family: 'Outfit', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    width: 425px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}

.top-container {
    height: 375px;
    width: 375px;
    margin-top: 5%;
}

.top-container-img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.bottom-container {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-container-h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 1%;
    font-weight: 800;
}

.bottom-container-p {
    margin-top: 5%;
    width: 300px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 200;
    color: hsl(220, 15%, 55%);
}

@media(max-width: 430px) {
    .container {
        height: 500px;
        width: 350px;
    }

    .top-container {
        height: 300px;
        width: 300px;
        margin-top: 5%;
    }
}